!!! 5
%html
  %head
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "default"}
    %meta{:name => "viewport",
          :content => "user-scalable=no, width=device-width, height=device-height"}
  
    %title= "fingerpoken - iphone/ipad == touchpad"
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js",
             :type => "text/javascript" }
%body
  %pre#status

  :javascript
    (function() {
      $(document).ready(function() {
        console.log("OK!");
        var status = $("#status");
        status.html("Ready!");

        var state = { 
          x: -1,
          y: -1,
          moved: false,
          dragging: false,
          width: window.innerWidth,
          height: window.innerHeight,
        }

        var websocket = new WebSocket("ws://" + document.location.hostname + ":5001");
        websocket.onopen = function(event) {
          console.log("websocket ready");
        }

        $(document).bind("touchstart", function(event) {
          var e = event.originalEvent;
          var touches = e.touches;
          status.html("Start: " + touches[0].clientX + "," + touches[0].clientY);
          state.x = touches[0].clientX;
          state.y = touches[0].clientY;
          state.moved = false;

          var now = (new Date()).getTime();
          if ((now - state.last_click) < 100) {
            /* Start dragging */
            websocket.send(JSON.stringify({
              action: "mousedown",
              button: 1
            }))
            state.dragging = true
          }
        });

        $(document).bind("touchend", function(event) {
          var e = event.originalEvent;
          var touches = e.touches;
          if (state.dragging) {
            websocket.send(JSON.stringify({
              action: "mouseup",
              button: 1
            }))
            state.dragging = false;
          } else {
            if (state.moved == false) {
              status.html("Click!");
              websocket.send(JSON.stringify({ 
                action: "click",
                button: 1,
              }));
              state.last_click = (new Date()).getTime();
            }
          }
        });

        $(document).bind("touchmove", function(event) {
          var e = event.originalEvent;
          var touches = e.touches;
          state.moved = true;
          //var output = "";
          //for (var i in touches) {
            //output += i + ": " + touches[i].clientX + "," + touches[i].clientY + "\n";
          //}
          //status.html(output);

          x = touches[0].clientX;
          y = touches[0].clientY;
          delta_x = (x - state.x) * 3;
          delta_y = (y - state.y) * 3;

          state.x = x;
          state.y = y;

          status.html(delta_x + ", " + delta_y);

          //x: touches[0].clientX, y: touches[0].clientY
          websocket.send(JSON.stringify({ 
            action: "move",
            rel_x: delta_x,
            rel_y: delta_y
          }));
          return e.preventDefault();
        });
      });
    })();
