!!! 5
%html
  %head
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "default"}
    %meta{:name => "viewport",
          :content => "user-scalable=no, width=device-width, height=device-height"}
  
    %title= "fingerpoken - iphone/ipad == touchpad"
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js",
             :type => "text/javascript" }
%body
  %pre#status
  %script{ :src => "/js/fingerpoken.js" }
