html, body
  background-color: black
  color: green
  margin: 0
  padding: 0
  width: 100%
  height: 100%
#menu
  width: 100%
  height: 40px
  border-bottom: 1px solid lightgreen
  color: white
  font-family: sans-serif
  font-weight: bold
  text-align: center
  padding: 0
  margin: 0
  .item:nth-child(1)
    border: 0px solid white
  .item
    border-left: 1px solid white
    padding: 10px
    margin: 0
    display: inline
    text-align: center
    vertical-align: middle
#area
  width: 100%
  height: 100%

#keyboard
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  
