doctype 5
html(lang="en")
  head
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="default")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="wslog.js")
    script(src="test.js")
    link(rel="stylesheet", type="text/css", media="screen", href="reset.css")
    link(rel="stylesheet", type="text/css", media="screen", href="style.css")
  body
    div#controller
